#footstyle {

    background: #FFFFFF;
    border-radius: 5px;
    padding: 2px;
    width: 1000px;
    height: 110px;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    text-decoration: none !important;
    list-style-type: none !important;

}

.tablamapa {
    width: 1020px;
    height: 100px;

}


li.lijo {
    height: 20px;
    list-style-type: none !important;

}

a.padre {
    color: #9c1b2d !important;
    font: normal 20px Candara;
    list-style: inherit;
    text-decoration: none !important;
}

a.hijo {

    color: #595819 !important;
    font: normal 14px Candara;
    text-decoration: none !important;
    list-style-type: none !important;

}

a.hijo:hover {

    color: #9C1B2D !important;
    text-decoration: none;
    list-style-type: none !important;
}