* {
    margin: 0;
    padding: 0;
}

#menunaviga li {
    list-style: none;
    height: 150px;
    padding: 10px;
    background: #c0ba81;
    border-radius: 3px;
    border: 2px solid #585919;
    z-index: 9999999999999999999999999999999;
}

#menunaviga a {
    font: normal 16px Candara;
    color: #FFF;
    height: 20px;
    display: block;
    position: relative;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    text-decoration: none;
}

#menunaviga a:hover {
    text-decoration: none;
}

#menunaviga a:focus {
    text-decoration: none;
}

#menunaviga a.contact_a {
    color: #FFF;
}

#menunaviga a.contact_a:hover {
    background: url(../images/social/contact_hover.png) no-repeat top center #c0ba81;
    color: #585919;
}

#menunaviga a.contact_a:focus {
    background: url(../images/social/contact_checked.png) no-repeat top center #c0ba81;
    color: #9c1b2d;
}

#menunaviga a.quote_a {
    color: #FFF;
}

#menunaviga a.quote_a:hover {
    background: url(../images/social/quote_hover.png) no-repeat top center #c0ba81;
    color: #585919;
}

#menunaviga a.quote_a:focus {
    background: url(../images/social/quote_checked.png) no-repeat top center #c0ba81;
    color: #9c1b2d;
}

#menunaviga a.submite_a {
    color: #FFF;
}

#menunaviga a.submite_a:hover {
    background: url(../images/social/news_hover.png) no-repeat top center #c0ba81;
    color: #585919;
}

#menunaviga a.submite_a:focus {
    background: url(../images/social/news_checked.png) no-repeat top center #c0ba81;
    color: #9c1b2d;
}


/* The styles below are only needed for the demo page */

#prince {
    float: right;
    width: 45px;
}

a img {
    border: none;
}

#titu {
    font: normal 28px Candara;
    color: #9c1b2d;
    line-height: 60px;
}

.modal_reqCont {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-reqCont {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #9c1b2d;
    width: 60%;
    height: auto;
}

.modal-content-news {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #9c1b2d;
    width: 20%;
    height: 450px;
}

.close_btn {
    cursor: pointer;
    float: right;
}

#alerta {
    font: normal 24px Candara !important;
    color: #002851;
    text-shadow: #0D0D0D;
    line-height: 100px;
    text-align: center;
}

#marco2{
    width: 900px;
    height: 640px;
    background: #FFFFFF;
    margin: 0px auto;
}

#linki {
    text-decoration: none;
    color: #585919;
    border: 1px solid #585919;
    background: #f0ffd0;
    padding: 3px;
    border-radius: 5px;
}

#linki:hover {
    text-decoration: none;
    color: #9C1B2D;
    border: 1px solid #9C1B2D;
    background: #f0ffd0;
    padding: 3px;
    border-radius: 5px;
}
