*{
  /* A universal CSS reset */
  margin:0;
  padding:0;
}

#menunaviga li{
  list-style:none;
  padding:10px;
  background: #c0ba81;
  border-radius: 3px;
  border: 2px solid #585919;
  z-index: 9999999999999999999999999999999;
}

#menunaviga li.contact{
  height:130px;
}

#menunaviga li.quote{
  height:150px;
}

#menunaviga li.submite{
  height:130px;
}

#menunaviga a{
  color: #FFF;
  height: 30px;
  width: 170px;
  font: normal 16px candara;
  display:block;
  position:relative;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  text-decoration:none;
}

#menunaviga a.contact{
  top: 60px;
  right: 80px;
}

#menunaviga a.quote{
  top: 60px;
  right: 80px;
}

#menunaviga a.submite{
  top: 60px;
  right: 80px;
}

#menunaviga a:hover{
  text-decoration:none;
}

#menunaviga a.contact {	color: #FFF;}
#menunaviga a.contact:hover {background: url(../images/social/contact_hover.png) no-repeat left center; color: #585919;}
#menunaviga a.contact:focus {background: url(../images/social/contact_checked.png) no-repeat left center; color: #9c1b2d;}

#menunaviga a.quote { color: #FFF;}
#menunaviga a.quote:hover { background: url(../images/social/quote_hover.png) no-repeat left center; color: #585919;}
#menunaviga a.quote:focus { background: url(../images/social/quote_checked.png) no-repeat left center; color: #9c1b2d;}

#menunaviga a.submite { color: #FFF;}
#menunaviga a.submite:hover { background: url(../images/social/news_hover.png) no-repeat left center; color: #585919;}
#menunaviga a.submite:focus { background: url(../images/social/news_checked.png) no-repeat left center; color: #9c1b2d;}


/* The styles below are only needed for the demo page */

#prince{
  float: right;
  width: 45px;
}

a img{
  border:none;
}

#titu {
  font: normal 28px Candara;
  color: #9c1b2d;
  line-height: 60px;
}
