* {font-family: Candara;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 950px;
  margin: 0px auto;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  width: 926px;
  height: auto;
  margin: 0px auto;
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

th, td {
  width: 200px;
  height: 15px;
  text-align: center;
}

#agre, #delet {
  height: 15px;
  width: 15px !important;
}

.askRooms {
  border: 1px solid #cacaca;
  background: #f4f4f4;
  width:800px;
  height: 100px;
  margin: 0px auto;
  z-index: 9999;
}

p{
  background-color:#f4f4f4;
  border:1px solid #fff;
  width:99%;
  height: auto;
  padding:4px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow:0px 0px 3px #aaa;
  -webkit-box-shadow:0px 0px 3px #aaa;
  box-shadow:0px 0px 3px #aaa;
}

p.doubles {
  width: 98%;
}

#steps form p label{
  float:left;
  text-align:right;
  margin-right:15px;
  line-height:26px;
  color:#666;
  text-shadow:1px 1px 1px #fff;
  font-weight:bold;
}

#myTable td {
  border: 1px solid #aaa;
}

#sumTable td {
  border-left: 1px solid #aaa;
  border-bottom: 2px solid #9c1b2d;
  border-radius: 5px;
  width: 720px;
}

#sumTable td.sumIzk {
  border-left: 1px solid #aaa;
  border-bottom: 2px solid #65652b;
  border-radius: 5px;
  width: auto;
}

.ckecksareas {
  float: left;
  border: 1px solid #aaa;
}

.water {
  height: 70px;
  background: #fafafa;
}

.land {
  height: 90px;
  background: #ddd;
}

.aerial {
  height: 70px;
  background: #fafafa;
}

#registerButton {
  float: right;
  color: #000;
  background: #fafafa;
  padding: 5px 10px;
  width: 120px;
}

.requiredquote {
  color: #FF0000;
}

.alertsSend {
  width: 925px;
  height: 70px;
  margin: 0 auto;
  float: left;
}

.reqButtons{
  width: 200px;
  height: 30px;
  float: right;
  padding: 20px;
}

.reqNext {
  width: 60px;
  padding: 5px 10px;
  color: #65652b;
  border: 1px solid #65652b;
  background-color: #f1f1f1;
  border-radius: 3px;
  float: right;
}

p.green {color: #65652b;}
p.red {color: #9c1b2d;}

#quoteMsj {
  width: 600px;
  height: 70px;
  float: left;
}

#qSummary {
  width: 920px;
  height:auto;
  float: left;
  overflow-y: auto;
}
