#mapag {
    width: 1005px;
    height: 780px;
    align-content: center;
}

li {
    list-style: none;
}

#titulog {
    font: normal 18px candara;
    color: #9C1B2D;
    text-decoration: none;
    padding: 20px;
}

.li_padreg {
    background: #000;
    width: 99%;
    text-align: center;
    margin-bottom: 10px;
}

#padreg {
    font: normal 16px candara;
    color: #fff;
    text-decoration: none;
}

#hijog,
.hijog {
    text-align: justify;
    margin-left: 40px;
    font: normal 14px candara;
    color: #9C1B2D;
    text-decoration: none;
    list-style: none;

}

#nietog,
.nietog {
    text-align: justify;
    margin-left: 60px;
    font: normal 12px candara;
    color: #555555;
    text-decoration: none;
}

#hijog:hover,
#nietog:hover,
.hijog:hover,
.nietog:hover {
    text-align: justify;
    color: #585919;
    text-decoration: underline;
}


#clase1 {
    float: left;
    width: 250px;
    padding-left: 2px;
    background: #efefef;
    height: 721px;
}

#clase2 {
    float: left;
    width: 250px;
    background: #efefef;
    height: 721px;
}

#clase3 {
    float: left;
    width: 250px;
    background: #efefef;
    height: 721px;
}

#clase4 {
    float: left;
    width: 250px;
    background: #efefef;
    height: 721px;
}