#mapag {

    width: 1018px;
    height: 780px;
    align-content: center;
}

li {list-style: none;}

#titulog {
    font: normal 20px verdana, arial, helvetica;
    color: #9C1B2D;
    text-decoration: none;
    padding: 20px;

}

#padreg {
    margin-left: 30px;
    font: normal 18px verdana, arial, helvetica;
    color: #000000;
    text-decoration: none;

}

#hijog, .hijog {
    text-align: justify;
    margin-left: 40px;
    font: normal 14px verdana, arial, helvetica;
    color: #9C1B2D;
    text-decoration: none;
    list-style: none;

}

#nietog, .nietog {
    text-align: justify;
    margin-left: 60px;
    font: normal 11px verdana, arial, helvetica;
    color: #555555;
    text-decoration: none;
    line-height: 22px;
}

#hijog:hover, #nietog:hover, .hijog:hover, .nietog:hover {
    text-align: justify;
    color: #585919;
    text-decoration: underline;
}


#clase1 {
    float: left;
    width: 254px;
    padding-left: 2px;
}

#clase2 {
    float: left;
    width: 254px;
}

#clase3 {
    float: left;
    width: 254px;
}

#clase4 {
    float: left;
    width: 254px;
}

